/* WoW Related Styles */
.deathknight { color: #C41F3B; }	
.druid       { color: #FF7D0A; }
.hunter      { color: #ABD473; }
.mage        { color: #69CCF0; }
.monk        { color: #00FF96; }
.paladin     { color: #F58CBA; }
.priest      { color: #FFFFFF; }
.rogue       { color: #FFF569; }
.shaman      { color: #0070DE; }
.warlock     { color: #9482C9; }
.warrior     { color: #C79C6E; }

.player-columns {
	-moz-column-count: 6;
	-moz-column-gap: 1em;
	-webkit-column-count: 6;
	-webkit-column-gap: 1em;
	column-count: 6;
	column-gap: 1em;
	padding-left: 0;
}

.no-margin {
	margin: 1px 0 !important;
}

.half-margin {
	margin: 5px 0 !important;
}

.sublime {
	background: #272822;
	color: #FFFFFF;
}

.panel-epic {
	border-color: #a335ee !important;
}

.panel-epic > .panel-heading {
	color: #ffffff;
	background-color: #a335ee;
	border-color: #a335ee;
}

.select-fix > .form-control {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}