/* General Styles */
label { display: inline-block !important; }

/* Table Related Styles */
.wrm thead th { color: #f8f8f2 !important; background: #272822 !important; }
.wrm tbody tr { color: #f8f8f2 !important; background: #272822 !important; }

/* Slider Related Styles */
.ui-slider { width: 15em; }
.llate   .ui-slider-range { background: red; }
.mlate   .ui-slider-range { background: orange; }
.slate   .ui-slider-range { background: yellow; }
.present .ui-slider-range { background: green; }

/* WoW Related Styles */
.deathknight { color: #C41F3B; }	
.druid       { color: #FF7D0A; }
.hunter      { color: #ABD473; }
.mage        { color: #69CCF0; }
.monk        { color: #00FF96; }
.paladin     { color: #F58CBA; }
.priest      { color: #FFFFFF; }
.rogue       { color: #FFF569; }
.shaman      { color: #0070DE; }
.warlock     { color: #9482C9; }
.warrior     { color: #C79C6E; }