<div class="wrap">
	<h2>Player Settings</h2>
	<div class="row" ng-app="WRO" ng-controller="PlayerCtrl">
		<div class="col-md-8">
			<div class="panel panel-primary sublime">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-list"></span> Player Table
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-info btn-xs" ng-click="Refresh()">
						    Refresh <span class="glyphicon glyphicon-refresh"></span>
						</button>
						<button type="button" class="btn btn-info btn-xs" ng-click="Add()">
						    Add <span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
				</div>
				<table id="tblEditPlayers" class="table">
				    <thead>
				        <tr>
				            <th>ID</th>
				            <th>Name</th>
				            <th>Class</th>
				            <th>Options</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr dir-paginate="player in model.Players | itemsPerPage: 15" current-page="model.currentPage">
				            <td><span ng-bind="player.ID"></span></td>
				            <td><span ng-class="player.ClassID" ng-bind="player.Name"></span></td>
				            <td><span ng-class="player.ClassID" ng-bind="player.ClassName"></span></td>
				            <td align="right">
				                <button type="button" class="btn-xs btn-danger" ng-click="Remove($index)">
				                    <span class="glyphicon glyphicon-remove"></span>
				                </button>
				            </td>
				        </tr>
				    </tbody>
				</table>
			</div>
			<dir-pagination-controls class="pull-right"></dir-pagination-controls>
		</div>

		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-cog"></span> Table Settings
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						Coming soon!
					</form>
				</div>
				<div class="panel-footer" align="right">
					<button class="btn btn-primary">
						Save <small><span class="glyphicon glyphicon-floppy-disk"></span></small>
					</button>
				</div>
			</div>
		</div>

		<script type="text/ng-template" id="deleteRowModal.html">
			<div class="modal-header">
  				<button type="button" class="close" aria-label="Close" ng-click="cancel()">
  					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Delete Player</h3>
			</div>
			<div class="modal-body form-horizontal">
				<div class="form-group">
					<label class="col-xs-2">ID:</label>
					<span class="col-xs-10" ng-bind="row.ID"></span>
				</div>
				<div class="form-group">
					<label class="col-xs-2">Name:</label>
					<span class="col-xs-10" ng-class="row.ClassID" ng-bind="row.Name"></span>
				</div>
				<div class="form-group">
					<label class="col-xs-2">Class:</label>
					<span class="col-xs-10" ng-class="row.ClassID" ng-bind="row.ClassName"></span>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning" ng-click="cancel()">
					Cancel <small><i class="glyphicon glyphicon-remove" /></small>
				</button>
				<button class="btn btn-primary" ng-click="delete()">
					Delete <small><i class="glyphicon glyphicon-trash" /></small>
				</button>
			</div>
		</script>

		<script type="text/ng-template" id="addRowModal.html">
			<div class="modal-header">
  				<button type="button" class="close" aria-label="Close" ng-click="cancel()">
  					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Add New Player</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-xs-2">Name:</label>
						<div class="col-xs-10">
							<input class="form-control" ng-model="NewPlayer.Name"></input>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-2">Class:</label>
						<div class="col-xs-10">
							<select id="slAddPlayer" class="form-control" ng-model="NewPlayer.ClassID">
								<option value="0">Player class...</option>
								<option value="10" class="deathknight">Death Knight</option>
								<option value="1" class="druid">Druid</option>
								<option value="2" class="hunter">Hunter</option>
								<option value="3" class="mage">Mage</option>
								<option value="11" class="monk">Monk</option>
								<option value="4" class="paladin">Paladin</option>
								<option value="5">Priest</option>
								<option value="6" class="rogue">Rogue</option>
								<option value="7" class="shaman">Shaman</option>
								<option value="8" class="warlock">Warlock</option>
								<option value="9" class="warrior">Warrior</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning" ng-click="cancel()">
					Cancel <small><i class="glyphicon glyphicon-remove" /></small>
				</button>
				<button class="btn btn-primary" ng-click="add()">
					Add <small><i class="glyphicon glyphicon-plus" /></small>
				</button>
			</div>
		</script>
	</div>
</div>