<div class="wrap">
	<div class="row" ng-app="WRO" ng-controller="AttendanceCtrl">
		<div class="col-md-8">
			<div class="panel panel-primary sublime">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-list"></span> Attendance Table
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-info btn-xs" ng-click="RefreshRecords()">
						    Refresh <span class="glyphicon glyphicon-refresh"></span>
						</button>
						<button type="button" class="btn btn-info btn-xs" ng-click="AddRecord()">
						    Add <span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
				</div>
				<table class="table">
				    <thead>
				        <tr>
				            <th>Row</th>
				            <th>Name</th>
				            <th>Class</th>
				            <th>Points</th>
				            <th>Date</th>
				            <th>Options</th>
				        </tr>
				    </thead>
				    <tbody>
				    	<tr dir-paginate="record in model.AttendanceEntities | itemsPerPage: 15">
				    		<td><span ng-bind="record.ID"></span></td>
				    		<td><span ng-class="record.ClassStyle" ng-bind="record.Name"></span></td>
				    		<td><span ng-class="record.ClassStyle" ng-bind="record.ClassName"></span></td>
				    		<td><span ng-bind="record.Points"></span></td>
				    		<td><span ng-bind="record.Date"></span></td>
				    		<td align="right">
				    			<button type="button" class="btn-xs btn-info" ng-click="EditRecord(record)">
				    				<span class="glyphicon glyphicon-edit"></span>
				    			</button>
				    			<button type="button" class="btn-xs btn-danger" ng-click="DeleteRecord(record)">
				    				<span class="glyphicon glyphicon-remove"></span>
				    			</button>
				    		</td>
				    	</tr>
				    </tbody>
				</table>
			</div>
			<dir-pagination-controls class="pull-right"></dir-pagination-controls>
		</div>

		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-cog"></span> Table Settings
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						Coming soon!
					</form>
				</div>
				<div class="panel-footer" align="right">
					<button class="btn btn-primary">
						Save <small><span class="glyphicon glyphicon-floppy-disk"></span></small>
					</button>
				</div>
			</div>
		</div>

		<script type="text/ng-template" id="editRowModal.html">
			<div class="modal-header">
					<button type="button" class="close" aria-label="Close" ng-click="cancel()">
						<span aria-hidden="true">&times;</span>
					</button>
				<h3 class="modal-title">Edit Attendance Record</h3>
			</div>
			<div class="modal-body form-horizontal">
				<div class="form-group">
					<label class="control-label col-xs-2">Row:</label>
					<span class="col-xs-10 form-control-static" ng-bind="row.ID"></span>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-2">Player:</label>
					<div class="col-xs-10 select-fix">
						<player-select class="form-control" ng-class="row.ClassStyle" ng-model="row.PlayerID"></player-select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-2">Date:</label>
					<div class="col-xs-10">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="yyyy/mm/dd" maxlength="10"
								ng-model="row.Date" datepicker-popup="yyyy/MM/dd" is-open="opened" show-weeks="false">
							<span class="input-group-btn">
								<button class="btn btn-default" ng-click="open($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-2">Points:</label>
		            <div class="btn-group col-xs-10" role="group">
		                <label class="btn btn-danger"  ng-model="row.Points" btn-radio="0.00">Absent</label>
		                <label class="btn btn-default" ng-model="row.Points" btn-radio="0.25">10:00+</label>
		                <label class="btn btn-warning" ng-model="row.Points" btn-radio="0.50">9:00+</label>
		                <label class="btn btn-primary" ng-model="row.Points" btn-radio="0.75">7:40+</label>
		                <label class="btn btn-success" ng-model="row.Points" btn-radio="1.00">Present</label>
		            </div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning" ng-click="cancel()">
					Cancel <small><i class="glyphicon glyphicon-remove" /></small>
				</button>
				<button class="btn btn-info" ng-click="reset()">
					Reset <small><i class="glyphicon glyphicon-repeat" /></small>
				</button>
				<button class="btn btn-primary" ng-click="save()">
					Save <small><i class="glyphicon glyphicon-floppy-disk" /></small>
				</button>
			</div>
		</script>

		<script type="text/ng-template" id="addRowModal.html">
			<div class="modal-header">
					<button type="button" class="close" aria-label="Close" ng-click="cancel()">
						<span aria-hidden="true">&times;</span>
					</button>
				<h3 class="modal-title">Add Attendance Record</h3>
			</div>
			<div class="modal-body form-horizontal">
				<div class="form-group">
					<label class="control-label col-xs-2">Player:</label>
					<div class="col-xs-10 select-fix">
						<player-select class="form-control" ng-class="row.ClassStyle" ng-model="row.PlayerID"></player-select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-2">Date:</label>
					<div class="col-xs-10">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="yyyy/mm/dd" maxlength="10"
								ng-model="row.Date" datepicker-popup="yyyy/MM/dd" is-open="opened" show-weeks="false">
							<span class="input-group-btn">
								<button class="btn btn-default" ng-click="open($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-2">Points:</label>
		            <div class="btn-group col-xs-10" role="group">
		                <label class="btn btn-danger"  ng-model="row.Points" btn-radio="0.00">Absent</label>
		                <label class="btn btn-default" ng-model="row.Points" btn-radio="0.25">10:00+</label>
		                <label class="btn btn-warning" ng-model="row.Points" btn-radio="0.50">9:00+</label>
		                <label class="btn btn-primary" ng-model="row.Points" btn-radio="0.75">7:40+</label>
		                <label class="btn btn-success" ng-model="row.Points" btn-radio="1.00">Present</label>
		            </div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning" ng-click="cancel()">
					Cancel <small><i class="glyphicon glyphicon-remove" /></small>
				</button>
				<button class="btn btn-primary" ng-click="save()">
					Save <small><i class="glyphicon glyphicon-floppy-disk" /></small>
				</button>
			</div>
		</script>

		<script type="text/ng-template" id="deleteRowModal.html">
			<div class="modal-header">
					<button type="button" class="close" aria-label="Close" ng-click="cancel()">
						<span aria-hidden="true">&times;</span>
					</button>
				<h3 class="modal-title">Delete Attendance Record</h3>
			</div>
			<div class="modal-body form-horizontal">
				<div class="form-group">
					<label class="control-label col-xs-2">Row:</label>
					<span class="col-xs-10 form-control-static" ng-bind="row.ID"></span>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-2">Player:</label>
					<span class="col-xs-10 form-control-static" ng-class="row.ClassStyle" ng-bind="row.Name"></span>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-2">Date:</label>
					<span class="col-xs-10 form-control-static" ng-bind="row.Date"></span>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-2">Points:</label>
					<span class="col-xs-10 form-control-static" ng-bind="row.Points"></span>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning" ng-click="cancel()">
					Cancel <small><i class="glyphicon glyphicon-remove" /></small>
				</button>
				<button class="btn btn-primary" ng-click="delete()">
					Delete <small><i class="glyphicon glyphicon-trash" /></small>
				</button>
			</div>
		</script>
	</div>
</div>