<div class="wrap">
	<div class="row" ng-app="WRO" ng-controller="PlayerCtrl">
		<div class="col-md-8">
			<div class="panel panel-primary sublime">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-list"></span> Player Table
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-info btn-xs" ng-click="Refresh()">
						    Refresh <span class="glyphicon glyphicon-refresh"></span>
						</button>
						<button type="button" class="btn btn-info btn-xs" ng-click="Add()">
						    Add <span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
				</div>
				<table id="tblEditPlayers" class="table">
				    <thead>
				        <tr>
				            <th>ID</th>
			            	<th>User Name</th>
				            <th>Name</th>
				            <th>Class</th>
				            <th>Options</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr dir-paginate="player in model.Players | itemsPerPage: 15">
				            <td><span ng-bind="player.ID"></span></td>
				            <td><span ng-bind="player.Username"></span></td>
				            <td><span ng-class="player.ClassStyle" ng-bind="player.Name"></span></td>
				            <td><span ng-class="player.ClassStyle" ng-bind="player.ClassName"></span></td>
				            <td align="right">
				    			<button type="button" class="btn-xs btn-info" ng-click="Edit(player)">
				    				<span class="glyphicon glyphicon-edit"></span>
				    			</button>
				                <button type="button" class="btn-xs btn-danger" ng-click="Remove(player)">
				                    <span class="glyphicon glyphicon-remove"></span>
				                </button>
				            </td>
				        </tr>
				    </tbody>
				</table>
			</div>
			<dir-pagination-controls class="pull-right"></dir-pagination-controls>
		</div>

		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-cog"></span> Table Settings
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						Coming soon!
					</form>
				</div>
				<div class="panel-footer" align="right">
					<button class="btn btn-primary">
						Save <small><span class="glyphicon glyphicon-floppy-disk"></span></small>
					</button>
				</div>
			</div>
		</div>

		<script type="text/ng-template" id="deleteRowModal.html">
			<div class="modal-header">
  				<button type="button" class="close" aria-label="Close" ng-click="cancel()">
  					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Delete Player</h3>
			</div>
			<div class="modal-body form-horizontal">
				<div class="form-group">
					<label class="control-label col-xs-3">ID:</label>
					<span class="col-xs-9 form-control-static" ng-bind="row.ID"></span>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3">User Name:</label>
					<span class="col-xs-9 form-control-static" ng-bind="row.Username"></span>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3">Name:</label>
					<span class="col-xs-9 form-control-static" ng-class="row.ClassStyle" ng-bind="row.Name"></span>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3">Class:</label>
					<span class="col-xs-9 form-control-static" ng-class="row.ClassStyle" ng-bind="row.ClassName"></span>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning" ng-click="cancel()">
					Cancel <small><i class="glyphicon glyphicon-remove" /></small>
				</button>
				<button class="btn btn-primary" ng-click="delete()">
					Delete <small><i class="glyphicon glyphicon-trash" /></small>
				</button>
			</div>
		</script>

		<script type="text/ng-template" id="addRowModal.html">
			<div class="modal-header">
  				<button type="button" class="close" aria-label="Close" ng-click="cancel()">
  					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Add New Player</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-xs-3">User Name:</label>
						<div class="col-xs-9">
							<div class="input-group select-fix">
								<span class="input-group-addon">
									<input type="checkbox" ng-model="HasUserID">
								</span>
								<user-select class="form-control" ng-model="NewPlayer.UserID" ng-disabled="!HasUserID" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3">Name:</label>
						<div class="col-xs-9">
							<input class="form-control" ng-model="NewPlayer.Name">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3">Class:</label>
						<div class="col-xs-9 select-fix">
							<class-select class="form-control" ng-model="NewPlayer.ClassID"></class-select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning" ng-click="cancel()">
					Cancel <small><i class="glyphicon glyphicon-remove" /></small>
				</button>
				<button class="btn btn-primary" ng-click="add()">
					Add <small><i class="glyphicon glyphicon-plus" /></small>
				</button>
			</div>
		</script>

		<script type="text/ng-template" id="editRowModal.html">
			<div class="modal-header">
  				<button type="button" class="close" aria-label="Close" ng-click="cancel()">
  					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Edit Player</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-xs-3">ID:</label>
						<span class="col-xs-9 form-control-static" ng-bind="row.ID"></span>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3">User Name:</label>
						<div class="col-xs-9">
							<div class="input-group select-fix">
								<span class="input-group-addon">
									<input type="checkbox" ng-model="HasUserID">
								</span>
								<user-select class="form-control" ng-model="row.UserID" ng-disabled="!HasUserID" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3">Name:</label>
						<div class="col-xs-9">
							<input class="form-control" ng-model="row.Name">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3">Class:</label>
						<div class="col-xs-9 select-fix">
							<class-select class="form-control" ng-model="row.ClassID"></class-select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning" ng-click="cancel()">
					Cancel <small><i class="glyphicon glyphicon-remove" /></small>
				</button>
				<button class="btn btn-primary" ng-click="save()">
					Edit <small><i class="glyphicon glyphicon-floppy-disk" /></small>
				</button>
			</div>
		</script>
	</div>
</div>