<div class="wrap">
	<div class="row" ng-app="WRO" ng-controller="PlayerCtrl">
		<div class="col-md-8">
			<div class="panel panel-primary sublime">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-list"></span> Player Table
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-info btn-xs" ng-click="Refresh()">
						    Refresh <span class="glyphicon glyphicon-refresh"></span>
						</button>
						<button type="button" class="btn btn-info btn-xs" ng-click="Add()">
						    Add <span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
				</div>
				<ajax-content status="model.AjaxContent.Players" src="model.Players">
					<div class="panel-body">
					    <div class="col-xs-6 form-inline">
					    	Show&nbsp;
					    	<select class="form-control input-sm" ng-model="r" ng-init="r = '15'">
						    	<option value="5">5</option>
						    	<option value="15">15</option>
						    	<option value="25">25</option>
						    	<option value="50">50</option>
						    	<option value="100">100</option>
					    	</select>
					    	&nbsp;entries
					    </div>
					    <div class="col-xs-6 form-inline">
							<div class="form-group has-feedback pull-right">
								<label class="control-label">Search:</label>
								<input type="text" class="form-control input-sm" ng-model="q" placeholder="Filter text">
								<span class="glyphicon glyphicon-search form-control-feedback"></span>
							</div>
						</div>
					</div>
					<table id="tblEditPlayers" class="table">
					    <thead>
					        <tr>
					            <th>ID</th>
				            	<th>User Name</th>
					            <th>Name</th>
					            <th>Class</th>
					            <th>Options</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr dir-paginate="player in model.Players | filter:q | itemsPerPage: r">
					            <td><span ng-bind="player.ID"></span></td>
					            <td><span ng-bind="player.Username"></span></td>
					            <td><span ng-class="player.ClassStyle" ng-bind="player.Name"></span></td>
					            <td><span ng-class="player.ClassStyle" ng-bind="player.ClassName"></span></td>
					            <td align="right">
					    			<button type="button" class="btn-xs btn-info" ng-click="Edit(player)">
					    				<span class="glyphicon glyphicon-edit"></span>
					    			</button>
					                <button type="button" class="btn-xs btn-danger" ng-click="Remove(player)">
					                    <span class="glyphicon glyphicon-remove"></span>
					                </button>
					            </td>
					        </tr>
					    </tbody>
					</table>
					<div class="panel-footer clearfix">
						<dir-pagination-controls></dir-pagination-controls>
					</div>
				</ajax-content>
			</div>
		</div>

		<div class="col-md-3">
			<ajax-form status="AjaxForm">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-cog"></span> Table Settings
					</div>
					<div class="panel-body">
						<h4>Guild Information</h4>
						<hr />
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="control-label col-md-4"><span class="glyphicon glyphicon-globe pull-left"></span>Region:</label>
								<div class="select-fix col-md-8">
									<select class="form-control" ng-model="model.Options.wro_region">
										<option value="us">US</option>
										<option value="eu">EU</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-4"><span class="glyphicon glyphicon-home pull-left"></span>Realm:</label>
								<div class="select-fix col-md-8">
									<realm-select class="form-control" ng-model="model.Options.wro_default_realm" region="model.Options.wro_region"></realm-select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-4"><span class="glyphicon glyphicon-fire pull-left"></span>Faction:</label>
								<div class="select-fix col-md-8">
									<select class="form-control" ng-model="model.Options.wro_faction">
										<option value="alliance">Alliance</option>
										<option value="horde">Horde</option>
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="panel-footer" align="right">
						<button class="btn btn-primary" ng-click="SaveSettings()">
							Save <small><span class="glyphicon glyphicon-floppy-disk"></span></small>
						</button>
					</div>
				</div>
			</ajax-form>
		</div>
	</div>
</div>