<div class="modal-header bg-primary">
		<button type="button" class="close" aria-label="Close" ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">Delete Player</h4>
</div>
<div class="modal-body form-horizontal">
	<ajax-form status="AjaxForm">
		<div class="text-center">
			<h4>Are you sure you want to delete <span ng-class="row.ClassStyle" ng-bind="row.Name"></span>?</h4>
			<h5><i>This will also permanently delete <span ng-class="row.ClassStyle" ng-bind="row.Name"></span>'s attendance and loot records.</i></h5>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-primary pull-right" ng-click="delete()">
					Delete <small><i class="glyphicon glyphicon-trash" /></small>
				</button>
			</div>
		</div>
	</ajax-form>
</div>