<div class="modal-header bg-primary">
		<button type="button" class="close" aria-label="Close" ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">Edit Player</h4>
</div>
<div class="modal-body form-horizontal">
	<ajax-form status="AjaxForm">
		<form name="formEditPlayer" novalidate>
			<div class="form-group">
				<label class="control-label col-xs-3">ID:</label>
				<span class="col-xs-9 form-control-static" ng-bind="row.ID"></span>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-3">User Name:</label>
				<div class="col-xs-9">
					<div class="input-group select-fix">
						<span class="input-group-addon">
							<input type="checkbox" ng-model="HasUserID">
						</span>
						<user-select class="form-control" ng-model="row.UserID" ng-disabled="!HasUserID" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-3">Name:</label>
				<div class="col-xs-9">
					<input name="editPlayerName" class="form-control" ng-model="row.Name" ng-required="true" 
						   ng-pattern="'\\p{L}+'" ng-minlength="3" maxlength="12">
				</div>
				<div ng-messages="formEditPlayer.editPlayerName.$error" class="col-xs-9 col-xs-offset-3 help-block error-text" 
					 ng-if="formEditPlayer.$invalid && (formEditPlayer.editPlayerName.$touched || formEditPlayer.$submitted)">
					<div ng-message="required">This field is required.</div>
					<div ng-message="minlength">Player name must be at least 3 characters long.</div>
					<div ng-message="pattern">Player names must only contain letters.</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-3">Class:</label>
				<div class="col-xs-9 select-fix">
					<class-select class="form-control" ng-model="row.ClassID"></class-select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-primary pull-right" ng-click="save(formEditPlayer)">
						Save <small><i class="glyphicon glyphicon-floppy-disk" /></small>
					</button>
				</div>
			</div>
		</form>
	</ajax-form>
</div>